Makefile
Makefile.in
.deps
aclocal.m4
autom4te.cache
autoscan.log
compile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
configure.scan
libtool
ltmain.sh
depcomp
install-sh
missing
stamp-h1
tests/
*~
*.a
*.o
